# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Build
dist/
coverage/

# Astro
.astro/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
